[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lr33
Exec=/usr/bin/ru.auroraos.lr33
Name=lr33
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lr33
ExecDBus=/usr/bin/ru.auroraos.lr33
