[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.LR1
Exec=/usr/bin/ru.template.LR1
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=LR1
ExecDBus=/usr/bin/ru.template.LR1
