[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.lr42
Exec=/usr/bin/ru.auroraos.lr42
Name=lr42
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=lr42
ExecDBus=/usr/bin/ru.auroraos.lr42
